<div class="row">
  <div class="col-lg-9 offset-lg-2">
    <a class="btn btn-success" href="/find">Find A Book Sale</a>

    <input type="text" placeholder="Search For Book Sale" class="offset-lg-1">
    <a class="btn btn-secondary" href="/find">Find</a>


    <a class="btn btn-success offset-lg-1" href="/share">Share A Book Sale</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 offset-3">
    <a href="/find">
      <div id="googleMap" style="width:520px;height:380px;"></div>
    </a>
  </div>
</div>